
<form asp-action="Luong">
<label>Nhap luong co ban</label>
<input type="text" name="Luongcoban">
<br>
<label>Nhap he so</label>
<input type="text" name="Heso">
<br>
<label>Nhap phu cap</label>
<input type="text" name="Phucap">
<br>
<input type="submit" value="Tong luong">
<h1>@ViewBag.a</h1>

</form>