@model Webmvc.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Thong tin chi tiet</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Name">sua</a> |
    <a asp-action="Index">Back to List</a>
</div>
