<h2> Thong tin chi tiet</h2>
<form asp-action="Index">
    <label>Nhap PersonID</label>
    <input type="text" name= "PersonID">
    <br>
    <label>Nhap Name</label>
    <input type="text" name= " Name">
    <br>
    <label> Nhap SDT</label>
    <input type="text" name= " SDT">
    <br>
    <input type="Submit" value= "Send">


</form>
<h1> @ViewBag.a</h1>