<h1>Dai ly</h1>
<form asp-action="Index">
    <label>Nhap Ma dai ly</label>
    <input type="text" name = "Madaily">
    <label> Nhap ten dai ly</label>
    <input type="text" name ="Tendaily">
    <label>Nhap dia chi</label>
    <input type="text" name =" Diachi">
    <label> Nhap nguoi dai dien</label>
    <input type="text" name="Nguoidaidien">
    <label> Nhap SDT</label>
    <input type="text" name =" SDT">
    <input type="Submit" nam= "Send">

</form>
<h2>@ViewBag.c</h2>