<h1>Tinhh luong</h1>
<form asp-action="Luong">
    <label>Nhap luong co ban</label>
    <input type="text" name= "Luongcb">
     <label>He so</label>
    <input type="text" name= "Heso">
     <label>Phucap</label>
    <input type="text" name= "Phucap">
    <input type="Submit" value = "Tong luong">
</form>
<h2>@ViewBag.abc</h2>