
<h1>He thong phan phoi</h1>
<form asp-action="Index">
    <label>Nhap ma htpp</label>
    <input type="text " name="MaHTPP">
    <label>Nhap ten</label>
    <input type="text" name="TenHTPP">
    <input type="Submit" value= " Send">

</form>
<h2>@ViewBag.ketqua</h2>