@model MVCApp.Models.Hopdong

@{
    ViewData["Title"] = "Create";
}

<h1>Them moi hop dong</h1>

<h4>Hopdong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mahp" class="control-label"></label>
                <input asp-for="Mahp" class="form-control" />
                <span asp-validation-for="Mahp" class="text-danger"></span>
            </div>
              <div class = "form-group">
                <label asp-for="Madaily" class="control-label"></label>
                <select asp-for="Madaily" class="form-control" asp-items="ViewBag.Madaily" ></select>

            </div>
            <div class="form-group">
                <label asp-for="Tenhp" class="control-label"></label>
                <input asp-for="Tenhp" class="form-control" />
                <span asp-validation-for="Tenhp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
