<h2>Person</h2>
<form asp-action="Index">
    <label>Nhap id</label>
    <input type="text" name ="PersonId">
    <label>nhap ten</label>
    <input type="text" name ="FullName">
    <label>nhap dia chi</label>
    <input type="text" name ="Address">
    <input type="Submit" value = "Send">


</form>
<h2>@ViewBag.abc </h2>