
<form asp-action="gptb2">
<label>Nhap he so a</label>
<Input type="text" name=" hesoa">
<br>
<label>Nhap he so b</label>
<Input type="text" name=" hesobb">
<br>
<label> Nhap he so c </label>
<Input type="text" name=" hesoc">
<br>
<input type="submit" value = "Giải phương trình">
<h2>@ViewBag.abc</h2>
</form>